* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: Arial, sans-serif; */
  font-family: "Franklin Gothic Medium", Arial;
  background-color: #151515;
  color: #333;
  padding: 40px;
}

h2 {
  color: #f3f3f3;
  text-align: center;
  font-size: 48px;
}

.card-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;

  max-width: 1024px;
  margin: 0 auto;
}

.card {
  border: 1px solid #4b5362;
  padding: 20px;
  margin: 10px;
  background-color: '#31363f';
  border-radius: '10px';
  min-height: '100px';
}

button {
  background-color: #4b5362;
  color: #f3f3f3;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  text-align: center;
  width: 100%;
}

/* button:hover {
  background-color: #f3f3f3;
  color: #4b5362;
} */