* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: Arial, sans-serif; */
  font-family: "Franklin Gothic Medium", Arial;
  background-color: #151515;
  color: #333;
  padding: 40px;
}

h2 {
  color: #f3f3f3;
  text-align: center;
  font-size: 48px;
}

.card-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;

  max-width: 1024px;
  margin: 0 auto;
}

.card {
  border: 1px solid #4b5362;
  padding: 20px;
  margin: 10px;
  background-color: '#31363f';
  border-radius: '10px';
  min-height: '100px';
}